<footer>
    <div class="footer-wrapper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- Logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="~/Content/assets/img/logo/logo2_footer.png" alt="Logo Trade Your Skill"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Oferim oamenilor posibilitatea de a-și tranzacționa și dezvolta abilitățile împreună.</p>
                                    </div>
                                </div>
                                <!-- Social Links -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Solutiile noastre</h4>
                                <ul>
                                    <li><a href="#">Design & Creativitate</a></li>
                                    <li><a href="#">Telecomunicații</a></li>
                                    <li><a href="#">Consultanță</a></li>
                                    <li><a href="#">Programare</a></li>
                                    <li><a href="#">Marketing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Suport</h4>
                                <ul>
                                    <li><a href="#">Întrebări frecvente</a></li>
                                    <li><a href="#">Centru de ajutor</a></li>
                                    <li><a href="#">Contactează-ne</a></li>
                                    <li><a href="#">Prețuri</a></li>
                                    <li><a href="#">Termeni & Condiții</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Compania</h4>
                                <ul>
                                    <li><a href="#">Despre noi</a></li>
                                    <li><a href="#">Cariere</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Politica de confidențialitate</a></li>
                                    <li><a href="#">Parteneri</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 text-center">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Copyright Notice -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> Toate drepturile rezervate <i class="fa fa-heart" aria-hidden="true"></i>  <a href="#" target="_blank">Trade Your Skill</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer>