
@{   Layout = null;
    ViewBag.Title = "Index";
}

@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico">
    @Styles.Render("~/Content/assets/scss")
    @Styles.Render("~/Content/assets/css")



</head>
<body>

    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/Home/Index"><img src="~/Content/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li class="active"><a href="~/Home/Index">Acasă</a></li>
                                                <li class="active"><a href="~/Courses/Index">Cursuri</a></li>
                                                <li class="active"><a href="~/About/Index">Despre Noi</a></li>
                                                <li class="active"><a href="~/Blog/Index">Blog</a></li>
                                                <li class="active"><a href="~/Contact/Index">Contacte</a></li>
                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="~/Register/Index" class="btn">Înregistrare</a></li>
                                                <li class="button-header"><a href="~/Login/Index" class="btn btn3">Conectează-te</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <section class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-12">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s">Trade your <br>skills </h1>
                                    <p data-animation="fadeInLeft" data-delay="0.4s">„Ai abilități valoroase? Pe Trade Your Skills, le poți transforma în oportunități! 
                                    Fă schimb de competențe cu alți profesioniști sau monetizează-ți talentul oferind servicii contra cost. Înscrie-te și începe să-ți valorifici skill-urile cu un simplu click!”</p>
                                    <a href="/Register/Index" class="btn hero-btn" data-animation="fadeInLeft"  data-delay="0.7s">Alătură-te</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ? services-area -->
        <div class="services-area">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="~/Content/assets/img/icon/icon1.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Diversitate de skilluri</h3>
                                <p>Zeci de domenii, o singură platformă.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="~/Content/assets/img/icon/icon2.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Conectează-te cu experți</h3>
                                <p>Colaborează cu persoane talentate și cu experiență.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="~/Content/assets/img/icon/icon3.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Acces nelimitat</h3>
                                <p>Rămâi conectat oricând la oportunități.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Courses area start -->
        <div class="courses-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Cele mai apreciate cursuri ale noastre</h2>
                        </div>
                    </div>
                </div>
                <div class="courses-actives">
                    <!-- Single -->
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="~/Content/assets/img/gallery/test3.JFIF" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>CROITORIE</p>
                                <h3><a href="~/Courses/Index">Curs acreditat de croitorie și proiectare a îmbrăcămintei</a></h3>
                                <p class="webkit-line">
                                    Visezi să înveți să coși? Eu te pot ajuta! În lecțiile mele de croitorie, îți voi arăta pas cu pas cum să iei măsurători corecte, să folosești mașina de cusut și să creezi piese vestimentare cu un finisaj profesional. Indiferent dacă ești complet începător sau vrei să îți îmbunătățești abilitățile, te voi ghida să-ți transformi pasiunea într-o abilitate valoroasă!

                                </p>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                        <p><span>(4.5)</span> 75 de recenzii</p>
                                    </div>
                                    <div class="price">
                                        <span>750 lei</span>
                                    </div>
                                </div> <a href="~/Courses/Index" class="border-btn border-btn2">Află mai multe!</a>
                            </div>


                        </div>
                    </div>
                    <!-- Single -->
                    <!-- Single -->
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="~/Content/assets/img/gallery/test4.jfif" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>MATEMATICĂ</p>
                                <h3><a href="~/Courses/Index">Lecții de matematică pentru elevi și liceeni</a></h3>
                                <p class="webkit-line">
                                    Sunt student olimpic la matematică și sunt gata să te ajut să înțelegi mai bine conceptele dificile! Ofer lecții personalizate pentru elevi de gimnaziu și liceu, adaptate nivelului tău de înțelegere. Fie că te pregătești pentru examene, fie că vrei să-ți îmbunătățești performanțele, îți voi explica pas cu pas și îți voi oferi metode eficiente pentru a rezolva orice problemă. Contactează-mă pentru sesiuni de consultanță și hai să facem matematică mai ușoară și interesantă!
                                </p>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                        <p><span>(4.5)</span> 125 de recenzii</p>
                                    </div>
                                    <div class="price">
                                        <span>1200 lei</span>
                                    </div>
                                </div>
                                <a href="~/Courses/Index" class="border-btn border-btn2">Află mai multe</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single -->
                    <!-- Single -->
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="~/Content/assets/img/gallery/test1.JFIF" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>ȘAH</p>
                                <h3><a href="~/Courses/Index">Mentorat în șah de la un fost campion</a></h3>
                                <p class="webkit-line">
                                    Ofer lecții și mentorat pentru cei care doresc să își perfecționeze abilitățile și să 
                                    se pregătească pentru competiții. Fiind fost campion, îți voi transmite cunoștințele și 
                                    experiența acumulată, ghidându-te prin strategii avansate, tactici complexe și dezvoltarea
                                    unei gândiri strategice de nivel înalt. Dacă vrei să îți duci jocul de șah la un alt nivel
                                    și să te pregătești pentru turnee, sunt aici să te ajut să atingi noi culmi!

                                </p>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                        <p><span>(4.5)</span> 47 de recenzii</p>
                                    </div>
                                    <div class="price">
                                        <span>999 lei</span>
                                    </div>
                                </div>
                                <a href="~/Courses/Index" class="border-btn border-btn2">Află mai multe</a>
                            </div>

                        </div>
                    </div>
                    <!-- Single -->
                    <!-- Single -->
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <a href="#"><img src="~/Content/assets/img/gallery/test5.jfif" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>LIMBA ENGLEZĂ</p>
                                <h3><a href="~/Courses/Index">Lecții de limba engleză pentru copii (4-10 ani)</a></h3>
                                <p class="webkit-line">
                                    Lecții de limba engleză pentru copii (4-10 ani)
                                    Începe să înveți limba engleză de la o vârstă fragedă! Ofer lecții interactive pentru copii între 4 și 10 ani, axate pe dezvoltarea abilităților lingvistice într-un mod natural și jucăuș. Prin jocuri, cântece și activități creative, copilul tău va învăța vocabularul de bază și va dobândi încredere în vorbirea limbii engleze. Este important ca micuții să fie expuși limbii străine cât mai devreme, iar lecțiile mele sunt concepute pentru a face învățarea cât mai plăcută și accesibilă.

                                </p>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                        <p><span>(4.5)</span> 32 de recenzii</p>
                                    </div>
                                    <div class="price">
                                        <span>800 lei</span>
                                    </div>
                                </div>
                                <a href="~/Courses/Index" class="border-btn border-btn2">Află mai multe!</a>
                            </div>

                        </div>
                    </div>
                    <!-- Single -->
                </div>
            </div>
        </div>
        <!-- Courses area End -->
        <!--? About Area-1 Start -->
        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <div class="about-icon">
                        <img src="~/Content/assets/img/icon/about.svg" alt="">
                    </div>
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="">Monetizează-ți skillurile cu un simplu click</h2>
                            <p>
                                „Ai abilități valoroase? Pe Trade Your Skills, le poți transforma în oportunități! Fă schimb de competențe cu 
                                alți profesioniști sau monetizează-ți talentul oferind servicii contra cost. Indiferent dacă vrei să înveți,
                                să colaborezi sau să câștigi bani, aici găsești comunitatea potrivită. Înscrie-te și începe să-ți valorifici
                                skill-urile cu un simplu click! Transformă-ți pasiunea într-o sursă de venit, descoperă noi oportunități de
                                dezvoltare și fă conexiuni cu persoane care îți împărtășesc interesele. Nu lăsa abilitățile tale nevalorificate – intră
                                în lumea Trade Your Skill și deschide-ți drumul către succes!”
                            </p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="~/Content/assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Acces la o largă comunitate locală de oameni talentați.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="~/Content/assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Oportunitatea de a te bucura de o continuă dezvoltare pe plan personal.</p>
                        </div>
                    </div>

                    <div class="single-features">
                        <div class="features-icon">
                            <img src="~/Content/assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Posibiliatea de a face schimb de hobbyuri și cunoștințe.</p>
                        </div>
                    </div>
                </div>
                <div class="right-content1">
                    <!-- img -->
                    <div class="right-img">
                        <img src="~/Content/assets/img/gallery/about.png" alt="">

                        <div class="video-icon">
                            <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? top subjects Area Start -->
        <div class="topic-area section-padding40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Subiecte de top</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="/Content/assets/img/gallery/test6.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Olărit</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="/Content/assets/img/gallery/test7.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Limbi străine</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="/Content/assets/img/gallery/test8.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Matematică</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/test9.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Ore de muzică</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/topic5.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programare</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/test10.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Gătit</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/test11.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Ore de dans</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/test12.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Grădinărit</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        <div class="section-tittle text-center mt-20">
                            <a href="/Courses/Index" class="border-btn">Vezi mai multe subiecte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- top subjects End -->
        <!--? About Area-3 Start -->
        <section class="about-area3 fix">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="~/Content/assets/img/gallery/about3.png" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">Bine ai venit pe Trade Your Skills!</h2>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="~/Content/assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>
                            Credem că abilitățile sunt unul dintre cele mai valoroase atuuri ale unei persoane.
                            Platforma noastră a fost creată pentru a ajuta oamenii să se conecteze, să colaboreze și să
                            se dezvolte – fie prin schimbul de competențe, fie prin monetizarea acestora..
                            </p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="~/Content/assets/img/icon/right-icon.svg" alt="">
                        </div>
                        <div class="features-caption">
                            <p>
                                Trade Your Skills este mai mult decât un simplu marketplace; este o comunitate dinamică în 
                                care profesioniștii, freelancerii și pasionații își pot împărtăși cunoștințele, își pot
                                extinde rețeaua și pot descoperi noi oportunități. Indiferent dacă vrei să faci schimb de
                                skill-uri, să oferi servicii contra cost sau să găsești expertul potrivit pentru nevoile 
                                tale, platforma noastră îți oferă soluția ideală.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? Team -->
        <section class="team-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Recenzii</h2>
                        </div>
                    </div>
                </div>
                <div class="team-active">
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/gallery/team1.png" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Mr. Urela</a></h5>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/gallery/team2.png" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Mr. Uttom</a></h5>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/gallery/team3.png" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Mr. Shakil</a></h5>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/gallery/team4.png" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Mr. Arafat</a></h5>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="~/Content/assets/img/gallery/team3.png" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Mr. saiful</a></h5>
                            <p>The automated process all your website tasks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services End -->
        <!--? About Area-2 Start -->
        <section class="about-area2 fix pb-padding">
            <div class="support-wrapper align-items-center">
                <div class="right-content2">
                    <!-- img -->
                    <div class="right-img">
                        <img src="~/Content/assets/img/gallery/about2.png" alt="">
                    </div>
                </div>
                <div class="left-content2">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">
                                Take the next step
                                toward your personal
                                and professional goals
                                with us.
                            </h2>
                            <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.</p>
                            <a href="/Register/Index" class="btn">Alătură-te</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
    </main>
    <footer>
        <div class="footer-wrapper footer-bg">
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- Logo -->
                                    <div class="footer-logo mb-25">
                                        <a href="index.html"><img src="~/Content/assets/img/logo/logo2_footer.png" alt="Logo Trade Your Skill"></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Oferim oamenilor posibilitatea de a-și tranzacționa și dezvolta abilitățile împreună.</p>
                                        </div>
                                    </div>
                                    <!-- Social Links -->
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Solutiile noastre</h4>
                                    <ul>
                                        <li><a href="#">Design & Creativitate</a></li>
                                        <li><a href="#">Telecomunicații</a></li>
                                        <li><a href="#">Consultanță</a></li>
                                        <li><a href="#">Programare</a></li>
                                        <li><a href="#">Marketing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Suport</h4>
                                    <ul>
                                        <li><a href="#">Întrebări frecvente</a></li>
                                        <li><a href="#">Centru de ajutor</a></li>
                                        <li><a href="#">Contactează-ne</a></li>
                                        <li><a href="#">Prețuri</a></li>
                                        <li><a href="#">Termeni & Condiții</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Compania</h4>
                                    <ul>
                                        <li><a href="#">Despre noi</a></li>
                                        <li><a href="#">Cariere</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Politica de confidențialitate</a></li>
                                        <li><a href="#">Parteneri</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 text-center">
                                <div class="footer-copy-right">
                                    <p>
                                        <!-- Copyright Notice -->
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> Toate drepturile rezervate <i class="fa fa-heart" aria-hidden="true"></i>  <a href="#" target="_blank">Trade Your Skill</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    @Scripts.Render("~/Scripts/js")
</body>
</html>

